{% extends "tests/header.html" %}

{% block content %}
<!--TODO: FIX ALL LINKS/STATIC FILES-->
<nav id="nav">
  <ul>
    {% if not user.is_authenticated %}
    <li><a href="/">Introduction</a></li>
    <li><a href="/login">Log in</a><li>
    <li><a href="/signup">Sign up</a></li>
    <li><a href="/create">Demo</a><li>
    {% else %}
    <li><a href="/">Introduction</a></li>
    <li><a href="/logout">Log out</a></li>
    <li><a href="/create">Creating tests</a></li>
    <li><a href="/solve">Solving tests</a></li>
    {% endif %}
  </ul>

</nav>
<ul style='margin-top: 200px;'>

    <form action=/add_q/ method="post" accept-charset="utf-8">
        <p style="color: red; font-size: 30px">{{ alert }}</p>
        <label style="margin-top: 20px;" for="question">Question:</label><input type="text" name="question"  id="question">
        {% for c in a_num %}
        <label style="margin-top: 20px;" for="answer">Answer {{ forloop.counter }}:</label><input type="text" name="answer"  id="answer" > <!-- forloop counter is the current iteration of the loop-->
        {% endfor %}
        <label style="margin-top: 20px;" for="name"><input type="hidden" name="name" value="{{ name }}" id="name">
        <label style="margin-top: 20px;" for="q_num"><input type="hidden" name="q_num" value="{{ q_num }}" id="q_num">
        <label style="margin-top: 20px;" for="a_num"><input type="hidden" name="a_num" value="{{ a_num }}" id="a_num">
        <label style="margin-top: 20px;" for="answer_r">Right answer:<input type="text" name="answer_r" id="answer_r">
        <p style="margin-top: 20px;"><input type="submit" value="Create" id="Create"></p>
    </form>

</ul>



{% endblock %}
