{% extends "tests/header.html" %}

{% block content %}
<!--TODO: FIX ALL LINKS/STATIC FILES-->
<div style='margin-top:6em;' id='Main'>
    <form action=/add-next-questions/ method="post" accept-charset="utf-8">
        <p style="color: red; font-size: 30px">{{ alert }}</p>
        <label style="margin-top: 20px;" for="question">Question:</label><input type="text" name="question"  id="question">
        {% for c in a_num %}
        <label style="margin-top: 20px;" for="answer">Answer {{ forloop.counter }}:</label><input type="text" name="answer"  id="answer" > <!-- forloop counter is the current iteration of the loop-->
        {% endfor %}
        <label style="margin-top: 20px;" for="username"><input type="hidden" name="name" value="{{ name }}" id="name">
        <label style="margin-top: 20px;" for="name"><input type="hidden" name="name" value="{{ name }}" id="name">
        <label style="margin-top: 20px;" for="q_num"><input type="hidden" name="q_num" value="{{ q_num }}" id="q_num">
        <label style="margin-top: 20px;" for="a_num"><input type="hidden" name="a_num" value="{{ a_num }}" id="a_num">
        <label style="margin-top: 20px; font-size: 16px;" for="answer_r">Number of right answer (eg. 3)<input type="text" name="answer_r" id="answer_r">
        <p><input style="margin-top: 20px;" type="submit" value="Create" id="Create"></p>
    </form>
</div>



{% endblock %}
