{% extends "tests/header.html" %}

{% block content %}
<!--TODO: FIX ALL LINKS/STATIC FILES-->


</nav>
<ul style='margin-top: 100px;'>
    {% if not user.is_authenticated %}
    <p style="font-size: 18px;">Note: You are currently not logged in and your test will not be saved!</p>
    {% endif %}
    <input type="hidden" name="flag" value="{{ flag }}" id="flag">
    <form action=/add/ method="post" accept-charset="utf-8"> <!-- action is the url the form data is returned to-->
    	<p style='font-size: 18px; margin: 0px; color: red;'>{{ alert }}</p>
        <label style="margin-top: 20px;" for="name"> Name:</label><input type="text" value="{{ name }}" name="name"  id="name" autocomplete="off" /> <!-- label's for is equal to input's id and binds them together; label is literally that - a label fo the input-->
        <label style="margin-top: 20px;" for="subject"> Subject:</label><input type="text" value="{{ subject }}" name="subject"  id="subject" />
        <label style="margin-top: 20px;" for="q_num"> Number of questions:</label><input type="text" value="{{ q_num }}" name="q_num"  id="q_num"/>
        <label style="margin-top: 20px;" for="a_num"> Number of answers:</label><input type="text" value="{{ a_num }}" name="a_num"  id="a_num"/>
        <p style="margin-top: 20px;"><input type="submit" value="Create" id="Create"></p>
    </form>
</ul>



{% endblock %}
