{% extends "tests/header.html" %}

{% block content %}
<!--TODO: FIX ALL LINKS/STATIC FILES-->
<nav id="nav">
  <ul>
    <li><a href="/#intro">Introduction</a></li>
    <li><a href="/create">Creating tests</a></li>
    <li><a href="/solve">Solving tests</a></li>
    

  </ul>
  
</nav>
<div style='margin-left: 250px; margin-top: 300px; font-size: 50px'>
    {% if all_wrong %}
        <h3>You got 0 of {{ max }}!<h3> {{ wrongs }}
    {% else %}
        <h3>Congratulations, you got {{ results }} of {{ max }}!<h3>
    {% endif %}
    <p>Wrong answers:</p>
    {% for i in wrongs %}
    <p>{{ i }}</p><br>
    {% endfor %}

   

</div>


{% endblock %}
