{% extends "tests/header.html" %}

{% block content %}
<!--TODO: FIX ALL LINKS/STATIC FILES-->
<nav id="nav">
  <ul>
    <li><a href="#intro">Introduction</a></li>
    <li><a href="/create">Creating tests</a></li>
    <li><a href="/solve">Solving tests</a></li>

  </ul>
</nav>
<div id="Main">
  <!-- Introduction -->
    <section id="intro" class="main">
      <div class="spotlight">
        <div class="content">
          <header class="major" style='margin-top: 300px;'>
            <h2>About project</h2>
          </header>
          <h2><p>We are trying to deliver internet platform for creating and solving tests that is easy to use. Hope you like it.</p></h2>
          <ul class="actions">
            <li><a href="https://www.facebook.com/groups/931631780263828/?fref=ts" class="button">Learn More</a></li>
          </ul>
        </div>
        {% load staticfiles %}
      </div>
    </section>

  <!-- First Section -->
    <section id="first" class="main special">
      <header class="major">
        <h2>Three basic steps and you can create your own test!</h2>
      </header>
      <ul class="features">
        <li>
          <span class="icon major style1 fa-code"></span>
          <h3>Set range</h3>
          <p>First, you must input how many questions and answers your test will have.</p>
        </li>
        <li>
          <span class="icon major style3 fa-copy"></span>
          <h3>Questions and answers</h3>
          <p>Second, you must type all of your questions and answers.</p>
        </li>
        <li>
          <span class="icon major style5 fa-diamond"></span>
          <h3>Save</h3>
          <p>Last, you must save your test so other people can try to solve it.</p>
        </li>
      </ul>
      <footer class="major">
      </footer>
    </section>

  <!-- Second Section -->
    <section id="second" class="main special">
      <header class="major">
        <h2>Solving tests</h2>
      </header>
      
      <h3><p>When you want to solve test, first youst choose the category from the ones below. You can choose from five different category of tests.</p></h3>
      <ul class="statistics">
        <li class="style1">
          <span class="icon fa-code-fork"></span>
          <strong>5,120</strong> Math
        </li>
        <li class="style2">
          <span class="icon fa-folder-open-o"></span>
          <strong>8,192</strong> English
        </li>
        <li class="style3">
          <span class="icon fa-signal"></span>
          <strong>2,048</strong> Geography
        </li>
        <li class="style4">
          <span class="icon fa-laptop"></span>
          <strong>4,096</strong> History
        </li>
        <li class="style5">
          <span class="icon fa-diamond"></span>
          <strong>1,024</strong> Biology
        </li>
      </ul>
    </section>

  
</div>
{% endblock %}
