{% extends "tests/header.html" %}
{% load staticfiles %}

{% block content %}
<!--TODO: FIX ALL LINKS/STATIC FILES-->


<div id="Main">
  <!-- Introduction -->
    <section id="intro" class="main">
      <div class="spotlight">
        <div class="content">
          <header class="major" style="margin-top: 5em;">
            <h2>About the project</h2>
          </header>
          <h2><p>We host an Internet platform for creating and solving tests that is easy to use. Try it now or scroll down for a more detailed explanation.</p></h2>
          <ul class="actions">
            {% if not user.is_authenticated %}
            <li><a href="/login" class="button">Log in</a></li>
            <li><a href="/signup" class="button">Sign up</a></li>
            <li><a href="/create-test" class="button">Try a demo</a></li>
            {% elif perms.tests.can_delete %}
            <li><a href="/logout" class="button">Log out</a></li>
            <li><a href="/create-test" class="button">Create tests</a></li>
            <li><a href="/solve-choose-category" class="button">Solve tests</a></li>
            <li><a href="/delete-tests" class="button">Delete tests</a></li>            
            {% else %}
            <li><a href="/logout" class="button">Log out</a></li>
            <li><a href="/create-test" class="button">Create tests</a></li>
            <li><a href="/solve-choose-category" class="button">Solve tests</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </section>

  <!-- First Section -->
    <section id="first" class="main special">
      <header class="major">
        <h2>Creating tests</h2>
      </header>
      <ul class="features">
        <li>
          <span class="icon major style1 fa-code"></span>
          <h3>Set range</h3>
          <p>Firstly, you have to input how many questions and answers your test will have.</p>
        </li>
        <li>
          <span class="icon major style3 fa-copy"></span>
          <h3>Questions and answers</h3>
          <p>Secondly, you have to type all of your questions and answers.</p>
        </li>
        <li>
          <span class="icon major style5 fa-diamond"></span>
          <h3>Save</h3>
          <p>Finally, you have to save your test so other people can try to solve it.</p>
        </li>
    </ul>  <!-- Scripts -->
      <footer class="major">
      </footer>section
    </section>

  <!-- Second Section -->
    <section id="second" class="main special">
      <header class="major">
        <h2>Solving tests</h2>
      </header>
      <h3><p>When you want to solve a test, first you choose a category from the ones which our users have created. Then you input the answers you think are right</p></h3>
      <ul class="statistics">
    </section>


</div>
{% endblock %}
