{% extends "tests/header.html" %}

{% block content %}
<!--TODO: FIX ALL LINKS/STATIC FILES-->


<div style='margin-top:6em;' id='Main'>
    <form action=/see-mistakes/ method="post">
        <p style="color: firebrick; font-size: 30px">{{ alert }}</p>
    	<input type="hidden" name="tests" value="{{ tests }}" id="tests">
       	<input type="hidden" name="br" value="{{ br }}" id="br">
        <input type="hidden" name="results" value="{{ results }}" id="results">
        <!-- <input type="hidden" name="len_wrongs" value="{{ len_wrongs }}" id="len_wrongs">
        {% for n in wrongs %}
        <input type="hidden" name="wrongs" value="{{ n }}" id="wrongs">
        {% endfor %} -->
        <!-- <input type="hidden" name="wrongs" value="{{ wrongs }}" id="wrongs">
        <input type="hidden" name="all_wrong" value="{{ all_wrong }}" id="all_wrong"> -->
        <label for="question"> Question:</label><input type="text"  name="question"  id="question" value="{{ questions }}" readonly="True">

        <div style='margin-top: 20px;'>
            {% for i in answers %}
                {% if answer_w == forloop.counter %}
                <p style="font-size: 20px; margin-top: 1em; color: firebrick;">You answered:</p>
                {% endif %}
                {% if answer_r == forloop.counter %}
                <p style="font-size: 20px; margin-top: 1em; color: green;">Correct asnwer:</p>
                {% endif %}
            <label for="checkbox_id{{ i }}">Answer {{ forloop.counter }}</label>
            <input type="text" name="{{ forloop.counter }}" id="checkbox_id{{ i }}" value="{{ i }}" readonly>
            {% endfor %}
            <p><input style="margin-top: 1em;" type="submit" value="Next" id="Next"></p>
        </div>
    </form>
</div>



{% endblock %}
