{% extends "tests/header.html" %}

{% block content %}
{% load tests_extras %}

<form action='/solve-first-question/' method="post" style="margin-top: 100px;">
	{% csrf_token %}
    <select name='tests' id='tests' value='tests' >
        {% if tests %}
        {{ tests }}{{ users }}
            {% for i in len1 %}

                <option type='text' name="test"  id="test" value='{{ tests|return_item:i }}' style="color: black" />{{ tests|return_item:i }} - (by {{ users|return_item:i }})

            {% endfor %}

            <p style="margin-top: 20px;"><input type="submit" value="Solve" id="Solve"></p>

        {% else %}
            <option type='text' name='alert' id='alert'  style="color: black" >No tests to show
        {% endif  %}
    </select>

</form>


{% endblock %}
