{% extends "tests/header.html" %}

{% block content %}
{% load tests_extras %}
<div style='margin-top:6em;' id='Main'>
     <p style='font-size: 26px; margin-bottom: 1em;'>Choose test</p>
    <form action='/solve-first-question/' method="post">
    	{% csrf_token %}
        <select name='tests' id='tests' value='tests' >
            {% if tests %}
                {% for i in len1 %}

                <option type='text' name="test"  id="test" value='{{ tests|return_item:i }}' style="color: black" />{{ tests|return_item:i }} - (by {{ users|return_item:i }})

                {% endfor %}

                <p><input style="margin-top: 1em;" type="submit" value="Solve" id="Solve"></p>

            {% else %}
                <option type='text' name='alert' id='alert'  style="color: black" >No tests to show
            {% endif  %}
        </select>

    </form>
</div>

{% endblock %}
