{% extends "tests/header.html" %}

{% block content %}
<!--TODO: FIX ALL LINKS/STATIC FILES-->
<script>
function bigImg(x) {
    document.getElementById(x).style.fontSize = "larger";
};

function normalImg(x) {
    document.getElementById(x).style.fontSize = "x-large";
};

</script>

<nav id="nav">
  <ul>
    <li><a href="/#intro" class="active">Introduction</a></li>
    <li><a href="/#first">Creating tests</a></li>
    <li><a href="/#second">Solving tests</a></li>
    <li><a href="/#cta">Get Started</a></li>
  </ul>
  
</nav>
<h3><p style='margin-top: 200px;'>Choose category.</p></h3>
<ul class="statistics">
    <li  class="style1" id='p0' onmouseover="bigImg('p0')" onmouseout="normalImg('p0')">
      <span class="icon fa-code-fork"></span>
      <strong><a href="/testChoose">5,120</strong> Math</a>
    </li>
    <li class="style2" id='p1' onmouseover="bigImg('p1')" onmouseout="normalImg('p1')">
      <span class="icon fa-folder-open-o"></span>
      <strong>8,192</strong> English
    </li>
    <li class="style3" id='p2' onmouseover="bigImg('p2')" onmouseout="normalImg('p2')">
      <span class="icon fa-signal"></span>
      <strong>2,048</strong> Geography
    </li>
    <li class="style4" id='p3' onmouseover="bigImg('p3')" onmouseout="normalImg('p3')">
      <span class="icon fa-laptop"></span>
      <strong>4,096</strong> History
    </li>
    <li class="style5" id='p4' onmouseover="bigImg('p4')" onmouseout="normalImg('p4')">
      <span class="icon fa-diamond"></span>
      <strong>1,024</strong> Programming
    </li>
  </ul>
</section>

{% endblock %}
