{% extends "tests/header.html" %}

{% block content %}
<!--TODO: FIX ALL LINKS/STATIC FILES-->
<script>
function bigImg(x) {
    document.getElementById(x).style.fontSize = "larger";
};

function normalImg(x) {
    document.getElementById(x).style.fontSize = "x-large";
};

</script>

<nav id="nav">
  <ul>
    <li><a href="/#intro">Introduction</a></li>
    <li><a href="/create">Creating tests</a></li>
    <li><a href="/solve">Solving tests</a></li>
  </ul>
  
</nav>
<form action='/getTest/' method="post" style="margin-top: 200px;">
	{% csrf_token %}
    <select name='tests' id='tests' value='tests' >
        {% if names %}
            {% for i in names %}
            <option type='text' name="test"  id="test" value='{{ i }}' style="color: black" />{{ i }}
            {% endfor %}
        {% else %}
            <option type='text' name='alert' id='alert'  style="color: black" >No tests to show
        {% endif  %}
    </select>
    {% if names %}
        <p><input type="submit" value="Solve" id="Solve"></p>
    {% endif %}
</form>


{% endblock %}
