{% extends "tests/header.html" %}

{% block content %}
<!--TODO: FIX ALL LINKS/STATIC FILES-->
<nav id="nav">
  <ul>
    <li><a href="/#intro" class="active">Introduction</a></li>
    <li><a href="/#first">Creating tests</a></li>
    <li><a href="/#second">Solving tests</a></li>
    <li><a href="/#cta">Get Started</a></li>
  </ul>
  
</nav>


<ul style='margin-top: 200px;'>
{{ br }}
	<form action=/getTest/ method="post">
	    <label for="subject"> Question:</label><input type="text"  name="subject"  id="subject" value="{{ questions }}" readonly="True" />
	    <label for="tests"><input type="hidden" name="tests" value="{{ tests }}" id="tests">
	    <label for="br"><input type="hidden" name="br" value="{{ br }}" id="br">
	    <p><input type="submit" value="Next" id="button"></p>
	</form>  
</ul>



{% endblock %}
