{% extends "tests/header.html" %}

{% block content %}
<nav id="nav">
  <ul>
    <li><a href="/">Introduction</a></li>
    <li><a href="/signup">Sign up</a></li>
  </ul>
</nav>

<ul style='margin-top: 100px;'>

    <form method="post" accept-charset="utf-8">
      {% csrf_token %}
      {{ form.as_p }}
      <p><input type="submit" value="Login"></p>
    <p>Note: Password for superuser is: bashevaenomer1</p>

<!--    <form action=/add_q/ method="post" accept-charset="utf-8">
        <p style="color: red; font-size: 30px">{{ alert }}</p>
        <label for="question">Question:</label><input type="text" name="question"  id="question">
        {% for c in a_num %}
        <label for="answer">Answer{{ forloop.counter }}:</label><input type="text" name="answer"  id="answer" >
        {% endfor %}
        <label for="name"><input type="hidden" name="name" value="{{ name }}" id="name">
        <label for="q_num"><input type="hidden" name="q_num" value="{{ q_num }}" id="q_num">
        <label for="a_num"><input type="hidden" name="a_num" value="{{ a_num }}" id="a_num">
        <label for="answer_r">Right answer:<input type="text" name="answer_r" id="answer_r">
        <p><input type="submit" value="Create" id="Create"></p>
    </form>
-->
</ul>
{% endblock %}
